span {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #0062cc;
    border-bottom: 2px solid #0062cc;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
    color: white;
}

.fa {
    color: #4183D7;
}

.fa {
    color: #4183D7;
}

#insta {
    background-color: palevioletred;
}

#tweet {
    background-color: #a6adb7;
}

#fb {
    background-color: #313233;
}

#Pinterest {
    background-color: red;
}

#google {
    background-color: orange;
}

#git {
    background-color: #222;
}