<div class="bg">
    <div class="box">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center" id="insta">

                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Instagram</h4>
                        </div>

                        <div class="text">
                            <span>GET ACCESS TO YOUR INSTAGRAM FEEDS</span>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center" id="tweet">

                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Twitter</h4>
                        </div>

                        <div class="text">
                            <span>GET ACCESS TO YOUR TWITTER FEEDS</span>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center" id="fb">

                        <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Facebook</h4>
                        </div>

                        <div class="text">
                            <span>GET ACCESS TO YOUR FACEBOOK FEEDS</span>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center" id="Pinterest">

                        <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Pinterest</h4>
                        </div>

                        <div class="text">
                            <span>GET ACCESS TO YOUR PINTEREST FEEDS</span>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center" id="google">

                        <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Google</h4>
                        </div>

                        <div class="text">
                            <span>GET ACCESS TO YOUR GOOGLE+ FEEDS</span>
                        </div>



                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center" id="git">

                        <i class="fa fa-github fa-3x" aria-hidden="true"></i>

                        <div class="title">
                            <h4>Github</h4>
                        </div>

                        <div class="text">
                            <span>COMING SOON WITH YOUR REGISTERED GIT E-MAIL ID RECENT COMMITS</span>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</div>