<nav class="navbar navbar-inverse" style="background: transparent;color:white;">
    <div class="container-fluid" style="background: transparent;color:white;">
        <div class="navbar-header" style="background: transparent;color:white;">
            <a id="navbrand" class="navbar-brand " href="# ">HYPERMEDIA EXPLOSION</a>
        </div>
        <ul class="nav navbar-nav " style="color:white;background: transparent;">

            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right ">
            <li><button type="button" class="btn btn-warning" style="margin-right: 16px;margin-top: 10px;"><a ui-sref="register" ui-sref-active="active"style="color:white;"><span class="glyphicon glyphicon-user "></span> Sign Up</a></button></li>
            <li><button type="button" class="btn btn-danger" style="margin-right: 16px;margin-top: 10px;"><a ui-sref="login" ui-sref-active="active" style="color:white;"><span class="glyphicon glyphicon-log-in "></span> Login</a></button></li>
        </ul>
    </div>
</nav>

<h1 id="homeh1">HYPERMEDIA EXPLOSION</h1>
<div class="container">
    <div class="jumbotron" id="jumbohome">
        <h2 style="color: white;">WANNA BOOST YOUR ADVERTISING REACH AND WEILD OUR MIXED HYPERMEDIA SERVICE TO DILATE YOU AND YOUR BUSINESS ???? </h2><br/>
        <h5 style="color:white;">if you , THEN YOU ARE ON THE RIGHT PLATFORM</h5>
    </div>
</div>
<div class="container">
    <div id="jumbohome" class="jumbotron">
        <p>Social media refers to websites and applications that are designed to allow people to share content quickly, efficiently, and in real-time. The ability to share photos, opinions, events, etc in real-time has transformed the way we live and, also,
            the way we do business. Retailers who use social media as an integral part of their marketing strategy usually see measurable results.<br/> </p>
        <p>In the early days of social marketing, there was little competition for the dollar—not so today. For example, you can spend thousands of dollars on a Facebook ad campaign and, sometimes, get no return on your investment. By its very nature, social
            media is a short attention span media—i t is much harder to get someone's attention with a Tweet then it was to get someone's attention with a newspaper ad. That's because ad headlines and copy are harder to write on Twitter or Instagram.
        </p>
        <p>The other big mistake retailers make is to use social media to talk about what is important to them rather than talking about what is important to the customer. As a retailer, you may think it is great to shout that you have a sale going on; and
            in some regards, this would be true. But, if that's the only reason you are getting involved in social media it won't be beneficial. Your goal should be to provide content that is relevant to your customer and engage with them to the point
            that they want to share your post with others.<br/>If you use social media you need to engage with your customers, involve them in a dialogue, and ask them for their opinions. Post a picture of two items you are considering carrying in your
            store and ask customers which one they like best. This creates a dialogue which leads to shared posts which leads to engaged followers. </p>
    </div>
</div>