<div="bg">
    <div class="theme-blush">
        <div id="wrapper">
            <div class="vertical-align-wrap">
                <div class="vertical-align-middle auth-main">
                    <div class="auth-box">
                        <div class="mobile-logo">
                            <a ui-sref="login" ui-sref-active="active"><img src="images/mobile-app.svg" alt="SOCIAL FEEDS"></a>
                            <span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:aliceblue; background: rgba(0, 0, 0, 0.4);
                            text-shadow: 0px 0px 2px #131415;">SOCIAL FEEDS</span>

                        </div>
                        <div class="auth-left">
                            <div class="left-top">
                                <a href="index.html">
                                    <img src="images/chat.svg" alt="social feeds" style="height: 40px;">
                                    <span style="font-weight: bold;">SOCIAL FEEDS</span>
                                    <span>  <h3 style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;color:white;padding-top: 200px;">PLEASE LOGIN TO CONTINUE</h3></span>

                                </a>

                            </div>
                            <div class="left-slider">
                                <img src="images/log-in.svg" style="width: 220px;height: 220px;padding: 50px;padding-left: 50px;margin-left: 40px;" class="img-fluid" alt="">
                            </div>
                        </div><br/><br/>
                        <div class="auth-right">
                            <div class="right-top">
                                <ul class="list-unstyled clearfix d-flex">
                                    <li>
                                        <a href="index.html"></a>
                                    </li>
                                    <!-- <li><a href="javascript:void(0);">Help</a></li>
                                <li><a href="javascript:void(0);">Contact</a></li> -->
                                </ul>
                            </div>
                            <div class="card">
                                <div class="header">
                                    <p class="lead">Log in</p>
                                </div>
                                <div class="body">
                                    <form class="form-auth-small">
                                        <div class="form-group">
                                            <label for="signin-email" class="control-label sr-only">Email</label>
                                            <input type="email" class="form-control" id="signin-email" value="" placeholder="User Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="signin-password" class="control-label sr-only">Password</label>
                                            <input type="password" class="form-control" id="signin-password" value="" placeholder="Password">
                                        </div>
                                        <div class="form-group clearfix">
                                            <!-- <i class="far fa-check-circle"></i> -->
                                            <input type="checkbox">
                                            <span>Remember me</span>
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
                                        <div class="bottom">
                                            <span class="helper-text m-b-10"></i> <a ui-sref="forgotpass" ui-sref-active="active">Forgot password?</a></span>
                                            <span>Don't have an account? <a  ui-sref="register" ui-sref-active="active">Register</a></span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>